@font-face {
  font-family: 'Press Start 2P';
  src:  url('./fonts/pressstart2p-regular-webfont.woff') format('woff'),
        url('./fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
        url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Press Start 2P', 'Open Sans', 'Helvetica Neue';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
